<div class="page-root">

    <ul class="i18n-nav" ng-repeat="lang in languages">
        <li class="i18n-item"><button type="button" data-i18n-load="{{lang}}" class="btn-i18n">{{lang  | translate:lang:"lang" }}</button></li>
    </ul>
    <h1>{{ title }}</h1>
    <i>{{ baseline }} <b>{{ baselineInfo }}</b></i>
    <p data-i18n-bind="includes" data-i18n-bind-lang="fr-FR"></p>
    <ul>
        <li>Gulp</li>
        <li>Angular.js</li>
        <li>Moment.js</li>
        <li>Normalize.css</li>
        <li><code>*, *::before, *::after {-moz-box-sizing: border-box; box-sizing: border-box}</code></li>
    </ul>

    <p>{{ launchApp }} <code>gulp</code>.</p>

   {{ aboutLink }} <a href="#/welcome">{{ buttonMsg }}</a> <i>{{ aboutAnchor }}</i> {{ aboutLink2 }}.

    <br><br><button open-page="welcome" data-open-page-delay="5" type="button" class="btn-action-x" data-page-dest="home">{{ buttonMsg }}</button>

</div>
